body{
    background-color: #90e0ef;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.egg{
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.white{
    position: absolute;
    width: 50vmin;
    height: 65vmin;
    background-color: white;
    border-radius: 65% 65% 50% 50%;
    box-shadow: 12px -4px 12px 2px rgba(0, 0, 25, .2);
}

.yellow{
    width: 30vmin;
    height: 30vmin;
    background-color: #e6cc00;
    border-radius: 50%;
    position: absolute;
    top: 23vmin;
    left: 11vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.eyes{
    display: flex;
    gap: 6vmin;
    position: absolute;
    top: 9vmin
}
.eye{
    width: 4vmin;
    height: 4vmin;
    background-color: black;
    display: flex;
    border-radius: 50%;
}

.mouth {
    width: 6vmin;
    height: 3vmin;
    background-color: black;
    border-radius: 10% 10% 70% 70%;
    position: relative;
    top: 2vmin
   
}
.tongue{
    width: 4vmin;
    height: 2vmin;
    background-color: #fb607f;
    border-radius:  70% 70% 10% 10%;
    position: relative;
    top:0.5vmin;
    left: 1vmin
}

.cheeks{
    width: 60%;
    display: flex;
    position: absolute;
    justify-content: space-around;
    top: 18vmin
}

.cheeck{
    width: 1.5vmin;
    height: 1.5vmin;
    background-color: #fb607f;
    border-radius:  50%;
}